$body-bg: #000;
$text-color:  #3b2300;
$label-color: #fff;
$navbar-default-link-color: #fff;
$font-family-base: "Open Sans", sans-serif;
$font-size-base: 16px;
$headings-font-family: fancy_header_font;
$scrolled-navbar-color: rgba(231, 217, 204, .85);
$dropdown-bg: $scrolled-navbar-color;
$going-color : #5CB85C;
$not-going-color: #ff0000;
$not-responded-color: #999999;
