.navbar,
.navbar-nav {
  display: inline-block;
  float: none;
}
.navbar,
.navbar-collapse {
  text-align: center;
}
.header {
  padding-top: 10px;
  padding-bottom: 1px;
  background: $scrolled-navbar-color;
  @media (max-width: $screen-sm-min)
  {
    padding-top: 0px;
    padding-bottom: 0px;
    background: $scrolled-navbar-color;
  }
}
.header-scrolled {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background: $scrolled-navbar-color;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  padding-top: 5px;
  padding-bottom: 0;
}
.header .nav > li > a,
.header-scrolled .nav > li > a {
  color: $text-color;
  background: transparent;
  &:hover, &:focus {
    color: $gray-light;
  }
}
