.card {
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  padding: 20px 20px 20px 20px;
  font-family: serif;
  width: 50%;
  @media (max-width: $screen-sm-min)
  {
    width: 100%;
  }
  .inner_card{
    border-style: solid;
    padding: 20px 20px 20px 20px;
    .reply_header{
      padding-bottom: 10px;
      font-family: serif;
      text-align: center;
      border-bottom: solid;
    }
    .guest {
      margin-left: auto;
      margin-right: auto;
      .option {
        label {
          font-weight: normal;
        }
        padding-left: 20px;
      }
    }
  }
}
md-radio-button , md-radio-button.md-checked md-ink-ripple._md-off{
}
//checked
md-radio-button , md-radio-button.md-checked md-ink-ripple._md-on{
  color: #ff0000;
}
