@import "bootstrap";
@import "custom_navigation";
@import "index";
@import "footer";
@import "coming_soon";
@import "travel";
@import "registry_links";
@import "guest_management";
@import "rsvp";

@font-face {
    font-family: fancy_header_font;
    src: url('/fonts/hickory_jack_light.woff') format(woff)
}
body {
  padding-top: $navbar-height + 25;
	background: url('/images/smallbackground.jpg') no-repeat center center fixed;
  background-size: cover;
}

.flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.spacer-sm {
  min-height: $navbar-height + 5;
}
