<div class="container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/<%= carouselFiles[0].name %>">
      <div class="carousel-caption">
        <h3><%= carouselFiles[0].caption %></h3>
      </div>
    </div>
      <% for(var i = 1; i < carouselFiles.length; i ++) { %>
      <div class="item">
        <img src="/images/<%= carouselFiles[i].name %>">
        <div class="carousel-caption">
          <h3>
            <p><%= carouselFiles[i].caption %></p>
          </h3>
        </div>
      </div>
      <% } %>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    &lsaquo;
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    &rsaquo;
  </a>
</div>
</div>
