 <header id="header" class="header navbar-fixed-top">
     <div class="container ">
         <nav class="main-nav" role="navigation">
             <div class="navbar-header text-center">
                 <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                     <span class="toggle-title">Menu</span>
                     <span class="icon-bar-wrapper">
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                     </span><!--//icon-bar-wrapper-->
                 </button><!--//nav-toggle-->
             </div><!--//navbar-header-->
             <div id="navbar-collapse" class="navbar-collapse collapse text-center">
                 <ul class="nav navbar-nav center-block">
                  <li><a href="/details">Information</a></li>
                  <li class="dropdown">
                    <a href="/travel" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Travel<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/travel/#why_here">Why Key West</a></li>
                      <li><a href="/travel/#arriving">How to get here</a></li>
                      <li><a href="/travel/#lodging">Lodging</a></li>
                      <li><a href="/travel/#getting_around">Getting Around Key West</a></li>
                      <li><a href="/travel/#things_todo">What to do</a></li>
                    </ul>
                  </li>
                  <li><a href="/registry">Registry</a></li>
                  <li><a href="/contact">Contact Us</a></li>
                 </ul><!--//nav-->
             </div><!--//navabr-collapse-->
         </nav><!--//main-nav-->
     </div><!--//container-->
 </header><!--//header-->
