<div class="card">
  <div class="inner_card">
    <div class="registry_item">
      <a href="http://www.crateandbarrel.com/gift-registry/taryn-gilbert-and-colton-white/r5495465" target="_blank">
        <img src="/images/crate_and_barrel.svg" alt="Crate and barrel registry" class="center-block"/>
      </a>
      <a href="https://www.amazon.com/registry/wedding/19WQ3BLDJX5RH" target="_blank">
        <img src="/images/amazon_logo.svg" alt="Amazon wedding registry" class="center-block"/>
      </a>
      <a href="https://www.lionworldtravel.com/honeymoon/taryn-and-colton-dream-african-honeymoon" target="_blank">
        <img src="/images/lion_world_travel.jpeg" alt="Lion World Travel" class="center-block"/>
      </a>
    </div>
  </div>
</div>
