<html>
<head>
<title>Taryn and Colton Wedding Website</title>
<% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/navbar.ejs %>
  <div class="container">
    <div class="text-center">
      <h3>Coming Soon!</h3>
    </div>
    <img src="/images/<%=image_name%>.jpg" alt="Photo from our trip to hawaii" class="center-block img-responsive">
  </div>
  <% include ../partials/footer.ejs %>
</body>
<% include ../partials/ga.ejs %>
</html>
