<html ng-app="rsvp">
<head>
<title>Taryn Gilbert and Colton White's Wedding Website</title>
<% include ../partials/header.ejs %>
</head>
<body ng-controller="mainController">
  <% include ../partials/navbar.ejs %>
  <div class="container">
    <h1>Summary</h1>
    <div class="row">
      <div class="col-sm-4">
        <span class="going">Is Going </span>{{summary.going}}
      </div>
      <div class="col-sm-4">
        <span class="not_going">Not Going </span>{{summary.not_going}}
      </div>
      <div class="col-sm-4">
        <span class="not_responded">Not Responded </span>{{summary.not_responded}}
      </div>
    </div>
    <h1>Invites</h1>
    <div class="form-group row" >
      <form ng-submit="createInvite()">
        <div class="col-sm-3">
          <input type="text" class="form-control input-lg" placeholder="Invite Title" ng-model="inviteFormData.name">
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control input-lg" placeholder="Invite Code" ng-model="inviteFormData.code">
        </div>
        <div class="col-sm-3">
          <input type="submit" class="btn btn-primary" value="Submit" name="add_to_invite">
        </div>
      </form>
    </div>
    <div ng-repeat="invite in inviteData" ng-init=initInvite(invite)>
      <div style="display:inline;" ng-click="toggleInvite(invite)" >
        <span>
          <a href class="accordion-toggle">
            {{invite.show ?  "V" : "^" }}
          </a>
        </span>
        <span>{{invite.name}} - {{invite.guests.length}} - </span>
      </div>
      <span ng-class="invite.date_responded === null ? 'not_responded' : 'going'">{{invite.date_responded === null ?  "X" : invite.guestsGoing() }}</span>
      <span> - code - {{invite.code}}</span>
      <button type="submit" class="btn btn-danger" ng-click="deleteInvite(invite.id)" name="Delete">X</button>
      <div ng-show="invite.show">
        <form>
          <div class="form-group row">
            <div class="col-sm-3">
              <input type="text" class="form-control input-md col-sm-4" placeholder="title" ng-model="invite.guest.title">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control input-md col-sm-4" placeholder="First Name" ng-model="invite.guest.first_name">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control input-md col-sm-4" placeholder="Last Name" ng-model="invite.guest.last_name">
            </div>
            <div class="col-sm-3">
              <button type="submit" class="btn btn-primary" ng-click="createGuest(invite)">Add Guest</button>
            </div>
          </div>
        </form>
        <div ng-repeat="guest in invite.guests">
          <div ng-show="guest.edit">
            <div class="col-sm-1">
              <input type="text" class="form-control" name="title" placeholder="title" ng-model="guest.title"/>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" name="title" placeholder="title" ng-model="guest.first_name"/>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" name="title" placeholder="title" ng-model="guest.last_name"/>
            </div>
            <div class="col-sm-offset-3 col-sm-1">
              <button type="submit" class="btn btn-primary" ng-click="updateGuest(guest)">Save</button>
            </div>
            <div class="col-sm-1">
              <button type="submit" class="btn btn-danger" ng-click="refresh(guest)">Cancel</button>
            </div>
          </div>
          <div ng-show="!guest.edit">
            <span ng-class="guest.is_going == null ? 'not_responded' : (guest.is_going? 'going' :'not_going')">{{guest.is_going == null ?  "?" : guest.is_going }}</span>
            <span>{{guest.title}} {{ guest.first_name }} {{guest.last_name}}</span>
            <button type="button" class="btn btn-primary" ng-click="startEdit(guest)" name="edit">Edit</button>
            <button type="button" class="btn btn-danger" ng-click="deleteGuest(invite, guest)" name="delete">X</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="min-height:300px">
  </div>
</body>
<% include ../partials/ga.ejs %>
<script src="javascripts/angular.min.js"></script>
<script src="javascripts/guest_management.js"></script>
</html>
