<html>
<head>
<title>Taryn Gilbert and Colton White's Wedding Website</title>
<% include ../partials/header.ejs %>
</head>
<style>
body {
  padding-top: 0px;
}
</style>
<body>
  <section class="home">
    <div class="info" id="image">
      <a href="/details">
        <img alt="monogram" src="/images/monogram.png"/>
      </a>
    </div>
  </section>
</body>
<% include ../partials/ga.ejs %>
<script>
  var redirect = function(){
      window.location.href = "/details";
  };
  $('#image').delay(3000).fadeOut(2000, redirect);
</script>
</html>
