<html>
<head>
<title>Taryn and Colton Wedding Website</title>
<% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/navbar.ejs %>
  <div class="container">
    <% include ../partials/registry_links.ejs %>
  </div>
  <% include ../partials/footer.ejs %>
</body>
<% include ../partials/ga.ejs %>
</html>
