<html ng-app="rsvp">
<head>
<title>Taryn and Colton Wedding Website</title>
<% include ../partials/header.ejs %>
</head>
<body ng-controller="responseController">
  <% include ../partials/navbar.ejs %>
  <div class="container">
    <div class="card">
      <div class="inner_card">
        <h1 class="reply_header">
          RSVP</br>
        </h1>
        <div ng-show="!showRsvpPage">
          <h4 class="reply_header">
            Please enter the RSVP code found on your reply card
          </h4>
          <form ng-submit="submitCode()">
            <input type="text" class="form-control input-lg" placeholder="Invite Code" ng-model="code.name">
            <input type="submit" class="btn btn-primary" value="Submit Code" name="submitCode">
          </form>
        </div>
        <div ng-show="showRsvpPage">
          <div ng-show="!readonly">
            <h4 class="reply_header">
              The favor of your response is requested by the 15th of October
            </h4>
            <form ng-submit="submitRsvp()">
              <div ng-repeat="guest in guests" class="guest">
                <span><b>{{guest.title}} {{guest.first_name}} {{guest.last_name}} </b></span>
                <div class="option">
                  <label><input class="btn" type="radio" ng-model="guest.is_going" ng-value="true"> Accepts with pleasure</label>
                  </br>
                  <label><input class="btn" type="radio" ng-model="guest.is_going" ng-value="false"> Declines with regrets</label>
                </div>
              </div>
              <input ng-disabled="!allSelected()" type="submit" class="btn btn-primary" name="SubmitRsvp" value="Submit RSVP">
            </form>
          </div>
          <div ng-show="readonly">
            <h4 class="reply_header">
              Thank you for your response
            </h4>
            <div ng-repeat="guest in guests" class="guest">
              <span><b>{{guest.title}} {{guest.first_name}} {{guest.last_name}}</b></span>
              <div class="option">
                <span>{{guest.is_going == true ? "Accepted with pleasure" : "Declined with regrets"}}</span>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<% include ../partials/ga.ejs %>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="javascripts/rsvp.js"></script>
</html>
