<html>
<head>
<title>Taryn Gilbert and Colton White's Wedding Website</title>
<% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/navbar.ejs %>
  <div class="container">
    <div id="why_here">
      <div class="spacer-sm">
      </div>
      <img src="/images/traveltitle.png"/>
      <h1>Why here?</h1>
      <div class="col-md-8">
        <p>Key West is special to us as it’s one of the first places we got to know each other outside of work, when we were part of a team running a Ragnar relay from Miami to Key West. After we started dating, we came back to Key West for another race, this time a triathlon, and made it one of our first real vacations as a couple.</p>
        <p>We wanted to share a place we love with the people we love, so it made a natural choice for our wedding. <br>In addition to sentimental value, Key West itself is beautiful and has so much to do from fishing and snorkeling to bars and restaurants.</p>
        <p>We know that many of you are travelling long distances to join us and so we hope you will find plenty here to enjoy.</p>
      </div>
      <div class="col-md-4">
          <img src="/images/southernmost.png" alt="southern most point picture"/>
      </div>
    </div>
    <div id="arriving">
      <div class="spacer-sm">
      </div>
      <h1>Getting here</h1>
      <ul>
        <li>By air: Key West International airport (EYW) has flights from a number of major cities including Atlanta, DC, Miami, and Charlotte. <br> Note: Key West does not allow Uber pick ups at the airport. </li>
        <li>By bus: A few shuttles operate from Miami, such as <a href="http://www.keysshuttle.com/" target="_blank">Keys Shuttle</a></li>
        <li>By Car: Key West is about a 3 ½ hour drive (160 miles) from Miami. The drive is beautiful and a great way to see the other Keys, as well as the famous Seven-Mile Bridge.</li>
      </ul>
    </div>
    <div id="lodging">
      <div class="spacer-sm">
      </div>
      <h1>Lodging recommendations</h1>
      <ul>
        <li>
          <h2>Old Town:</h2>
            This is the most picturesque part of Key West, and it is extremely walkable. This part of town has a lot of boutique inns, as well as a few larger hotels. A few guests have booked at <a target="_blank" href="http://www.courtneysplacekeywest.com/">Courtney’s Place</a>, which is an easy walk to the venue as well as Duval Street and other attractions. This is a good option for small groups, as some rooms accommodate up to 6 people and include a kitchenette.
        </li>
        <li>
          <h2>Resorts:</h2>
            If you are looking for a traditional beach resort, both <a target="_blank" href="http://www.casamarinaresort.com/">Casa Marina</a> and <a href="http://www.reachresort.com/">The Reach</a> are nice resorts with private beaches. Key West also has most of your major hotel chains including The Hyatt, The Marriot and The Westin.
        </li>
        <li>
          <h2>Roosevelt Boulevard:</h2>
            A number of hotels are located right at the entrance to the island, near the airport, and these can have more affordable rates than Old Town. Many of these run hourly shuttles to Old Town, so you’ll still be able to get around the island easily. We have stayed at <a target="_blank" href="http://www.24northhotel.com/">24 North</a> and liked it.
        </li>
        <li>
          <h2>Rental homes:</h2>
            If you’re staying in a larger group, <a href="https://www.vrbo.com/vacation-rentals/usa/florida/keys">VRBO</a> or <a target="_blank" href="https://vacationhomesofkeywest.com/">Vacation Homes Key West</a> may have good options for you. We recommend looking at properties in the Key West and Lower Keys areas, as these are both conveniently located for the wedding. AirBnB does not have many properties in Key West, unless you want to stay on a sailboat.
        </li>
        <li>
          <h2>Staying for longer than the weekend?</h2>
            Consider staying for a few nights on some of the other Keys, which have a quieter vibe than Key West. Islamorada is particularly nice.
        </li>
      </ul>
    </div>
    <div id="getting_around">
      <div class="spacer-sm">
      </div>
      <h1>Transportation</h1>
      <ul>
        <li>Key West is very walkable. If you are staying outside of Old Town, you may want to take advantage of a hotel shuttle or taxi to go the two miles into the historic area.</li>
        <li>Rental bikes are widely available and Key West is really bike friendly.</li>
        <li>Driving down? Parking is limited, especially near the venue, so carpooling/walking/taxiing to the ceremony is recommended.</li>
      </ul>
    </div>
    <div id="things_todo" class="things-to-do">
      <div class="spacer-sm">
      </div>
      <h1>Things to do</h1>
      <ul>
      <li><h2>Drinks</h2>
        <ul>
          <li><a target="_blank" href="http://www.thewaterfrontbrewery.com/">Waterfront Brewery</a> - Local beer, decent food, and a great view of the marina.</li>
          <li><a target="_blank" href="http://www.keywestlegalrum.com/">First Legal Rum Distillery</a> - A tiny distillery with a self-guided tour; worth trying the different rums</li>
          <li><a target="_blank" href="http://www.theporchkw.com/">The Porch</a>/<a target="_blank" href="https://www.facebook.com/theothersidekw/">Caroline’s Other Side</a> - One side of the house has a craft beer bar with a decent selection from breweries around the country, while the other side has artisan cocktails with a prohibition vibe (Gainesvillians: think No Name Bar).</li>
          <li><a target="_blank" href="http://www.kellyskeywest.com/">Kelly’s Caribbean Grill & Brewery</a> - This bar is really nice for tropical ambience and locally brewed beer.</li>
          <li><a href="http://duvalstreet.net/" target="_blank">Duval Street</a> - Classic bars like <a target="_blank"href="https://sloppyjoes.com/">Sloppy Joe’s</a>, <a href="http://www.hogsbreath.com/keywest/">Hog’s Breath</a>, and <a href="http://www.greenparrot.com/">The Green Parrot</a> are here, along with standards such as <a target="_blank" href="http://www.fattuesdaykeywest.com/">Fat Tuesdays</a>, <a target="_blank" href="http://www.hardrock.com/cafes/key-west/">Hard Rock</a>, etc. This is only a block from our venue.</li>
        </ul></li>
        <li><h2>Food</h2>
        <ul>
          <li><a href="https://onlywoodkw.com/">Onlywood</a> - Amazing wood-fired pizza and homemade pasta. This restaurant is tucked into an alley off Duval Street, with a nice back patio as well as indoor seating.</li>
          <li><a href="http://www.keylimeshop.com/">Kermit’s</a> - The main part of Kermit’s is a store with pretty much any Key Lime flavored snack you could imagine (delicious!), and there’s a cafe around the corner that has a nice quiet eating area and great breakfast sandwiches! This is especially convenient if you’re going on a morning boat charter, as it’s across the street from the marina and you can get a quick coffee and breakfast to go.</li>
        </ul></li>
        <li><h2>Stuff to do</h2>
        <ul>
          <li><a href="https://www.furycat.com/">Fury tours</a> -- Fury is an excursions company that you’ll see advertised everywhere, and they run charters for snorkeling, parasailing, and other adventures. We’ve been on the Island Adventure which has snorkeling and ocean kayaking (+ food and drink on the half-day boat trip), and had a great time.</li>
          <li><a href="http://www.tripadvisor.com/Travel-g34345-c203759/Key-West:Florida:Charter.Fishing.In.Key.West.html" target="_blank">Fishing Charters</a> - Whether its a private charter or a party boat, you can never go wrong fishing in the keys</li>
          <li><a href="https://www.mallorysquare.com/" target="_blank">Mallory Square</a> - Want to catch an amazing sunset or watch some street performers. Mallory Square has both! Be sure to look out for the roosters on your walk over!</li>
          <li><a href="http://www.hemingwayhome.com/" target="_blank">Ernest Hemingway House</a> - Visit our venue before the wedding and get to learn first hand the story behind the house and Ernest Hemingway himself</li>
        </ul></li>
      </ul>
    </div>
  </div>
  <% include ../partials/footer.ejs %>
</body>
<% include ../partials/ga.ejs %>
</html>
