<html>
<head>
<title>Taryn Gilbert and Colton White's Wedding Website</title>
<% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/navbar.ejs %>
  <div class="container">
    <h2>Welcome Reception</h2>
    <p>The bride and groom will be at the <a href="http://www.smokintunasaloon.com/" >Smokin Tuna Saloon </a> in Mallory Square at 8 PM on Friday. We would love to see everyone, so please stop by and say hello!</p>
    <h2>Ceremony Details</h2>
    <p>The ceremony will begin at 5:30 PM on Saturday at the Hemingway House, 907 Whitehead St. Please don't arrive before 5:15pm because guests won't be allowed in!</p>
    <br>
    <p>Both the ceremony and reception will take place outdoors at the Hemingway House.</p>
    <h2>Weather</h2>
    <a href="<%= weather_link%>" target="_blank">Key West Weather!</a>
    <h2>Dress code</h2>
    <p>Cocktail attire</p>
    <h2>Directions</h2>
      <div class="flexible-container directions">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3629.1004523056417!2d-81.80280068452655!3d24.551190563628317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d1b6e80338ba6d%3A0x13a4237f7d5f49ea!2sThe+Ernest+Hemingway+Home+and+Museum!5e0!3m2!1sen!2sus!4v1456716896784" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
  </div>
  <% include ../partials/footer.ejs %>
</body>
<% include ../partials/ga.ejs %>
</html>
